{% extends 'base.html.twig' %}

{% block title %}Hello ClienteController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="card-body">
                            <form method="post" id="formData">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Nombre</h6>
                                    </div>
                                    <input class="col-sm-3 text-secondary inputCliente inputNombre"
                                           value="{{ app.user.nombre }}" readonly/>
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Apellidos</h6>
                                    </div>
                                    <input class="col-sm-3 text-secondary inputCliente inputApellidos"
                                           value="{{ app.user.apellidos }}" readonly/>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <input class="col-sm-3 text-secondary inputCliente inputEmail" value="{{ app.user.email }}" readonly/>
    
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Contraseña</h6>
                                    </div>
                                    <input type="password" class="col-sm-3 text-secondary inputCliente inputPassword" placeholder="Contraseña nueva" readonly/>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Teléfono</h6>
                                    </div>
                                    <input class="col-sm-3 text-secondary inputCliente inputTelefono" value="{{ app.user.telefono }}" readonly/>
    
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">DNI</h6>
                                    </div>
                                    <input class="col-sm-3 text-secondary inputCliente inputDni" value="{{ app.user.dni }}" readonly/>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Dirección</h6>
                                    </div>
                                    <input class="col-sm-3 text-secondary inputCliente inputDireccion" value="{{ app.user.direccion }}" readonly/>
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Código Postal</h6>
                                    </div>
                                    <input class="col-sm-3 text-secondary inputCliente inputCodigoPostal" value="{{ app.user.codigoPostal }}" readonly/>
                                </div>
                                <hr>
    
                                <div class="col-sm-6">
                                    <a class="btn btn-info botonEditCliente" target="__blank">Editar</a>
                                </div>
    
                                <div class="col-sm-6">
                                    <a class="btn btn-info botonGuardarCliente" target="__blank">Guardar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 mb-3">

                    <div class="table-responsive">
                        <table class="table caption-top">
                            <caption>
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Historial del pedido</h6>
                            </caption>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cliente.js') }}" type="text/javascript"></script>
{% endblock %}
