{% extends 'base.html.twig' %}

{% block titulo %}Pedido{% endblock %}

{% block body %}
    <div class="container mb-1" style="min-height:73vh">
        <div class="row mt-5">

            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="card mb-3 h-100">
                    <h4 class="card-title ml-4 mt-2">Sumario Del Artículo</h4>


                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for producto in productos %}
                                <tr>
                                    <td colspan="2">
                                        <div>
                                            <img
                                                    
                                                    src="{{ asset('img/productos/' ~ producto.getImagenes.first().ruta ) }}"
                                                    alt="..."
                                                    class="img-fluid"
                                                    style="max-height:200px"
                                            />
                                        </div>
                                    </td>
                                    <td colspan="2" style="vertical-align: middle; width:100px"><label>{{ producto.nombre }}</label></td>
                                    <td></td>
                                    <td>{{ producto.getPrecioEur|format_currency('EUR', locale='es') }}</td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            {% for talla, cantidad in producto.getCantidades() %}
                                                
                                                {% if talla is empty %}
                                                    <div><span>{{ cantidad }} ud.</span></div>
                                                {% else %}
                                                    <div><b>{{ talla|upper }} :</b> <span>{{ cantidad }} ud.</span></div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td>{{ producto.total|format_currency('EUR', locale='es') }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card text-center w-100">
                    <div class="card-header"><h5 class="card-title">Resumen Del Pedido</h5></div>
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <p class="card-text col-lg-6">
                                Subtotal
                            </p>
                            <p class="card-text col-lg-6">
                                {{ subtotal|format_currency('EUR', locale='es') }}
                            </p>
                        </div>

                        <a href="/pedido" class="btn btn-dark d-grid gap-2 col-12 mx-auto">PAGAR</a>
                    </div>
                    <div class="card-footer">
                        <label>ACEPTAMOS</label>
                        <img style="height:150px; width:150px; text-align:center"
                             src="https://www.loginstore.com/contraentrega/icono-cod.png"/>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
