{% extends 'base.html.twig' %}

{% block title %}Hello PedidoController!{% endblock %}

{% block body %}
    <div class="container mb-1" style="min-height:73vh">
        <div class="row mt-5">

            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="mb-3 h-100">
                    <h4 class="card-title ml-3 mt-2">Dirección de Envío</h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card direciónCard">
                                <div class="card-body">
                                    <h5 class="card-title">{{ cliente.nombreCompleto }}</h5>
                                    <p class="card-text">
                                        {{ cliente.direccion|raw }}, {{ cliente.codigoPostal }}
                                    </p>
                                    <a href="#" class="btn btn-primary">Editar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 d-flex align-items-center">
                                <button type="button" class="btn btn-outline-dark btn-lg" 
                                        data-mdb-ripple-color="dark" data-toggle="modal" data-target="#nueva-direccion">
                                    +Añadir otra dirección de envío
                                </button>
                        </div>
                    </div>


                    <div class="mt-5 mb-3 h-100">
                        <h4 class="card-title ml-3 mt-2">Forma de Pago</h4>
                        <div class="card-footer">
                            <label>Actualmente solo aceptamos pago contra-reembolso, disculpa por la molestia</label>
                            <img style="height:150px; width:150px; text-align:center"
                                 src="https://www.loginstore.com/contraentrega/icono-cod.png"/>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card text-center w-100">
                    <div class="card-header"><h5 class="card-title">Resumen Del Pedido</h5></div>
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <p class="card-text col-lg-6">
                                Subtotal
                            </p>
                            <p class="card-text col-lg-6">
                                {{ subtotal|format_currency('EUR', locale='es') }}
                            </p>
                        </div>

                        <form method="post" action="{{ path('pedido_crear') }}">
                            <button type="submit" class="btn btn-dark d-grid gap-2 col-12 mx-auto">Realizar el pedido</button>
                        </form>
                    </div>
                    

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="nueva-direccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
