{% extends 'base.html.twig' %}

{% block title %}Hello ProductoController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <p></p>

    <div class="container-fluid">
        <h6 style="text-align: center">Todos los productos / ({{ productos|length}} artículos)</h6>
        <p></p>

        <div class="row">
            {% for producto in productos %}
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card bg-image hover-overlay ripple h-100">
                            {% for imagen in producto.imagenes %}
                                <img src="/img/productos/{{ imagen.ruta }}" class="card-img-top" alt="{{ producto.nombre }}" height="450"
                            {%  endfor %}
                        />
                        <a href="/productos/{{ producto.url }}">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ producto.nombre }}
                            </h5>
                            <p class="card-text">
                                {{ (producto.precio/100)|number_format(2,',', '.') ~ ' ' ~ '€'}}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
